*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #252a32;
  background: #ffffff;
}

/* Navbar */
html {
  font-size: 10px;
}

body {
  font-family: sans-serif;
  /* background-color: lightgoldenrodyellow; */
  background-color: white;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b30000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; 
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 8rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
}

.hamburger {
  display: none;
}

.line {
  width: 40px;
  height: 7px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
}

.navigation {
  transition: all .6s ease-in-out;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  list-style: none;
  margin-right: 3rem;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  width: 100%;
  padding: 2rem;
  display: inline-block;
  transition: all .3s ease;
}

.navigation ul li a:hover {
  background-color: #ea3431;
}

.navigation.active {
left: 0;
}

@media only screen and (max-width: 900px) {

  header {
      padding: 0 5rem;
  }

.navigation {
  position: fixed;
  top: 6rem;
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #24252a;
}

.navigation ul {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #24252a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.navigation ul li {
  width: 100%;
  text-align: center;
  background-color: #24252a;
}

.navigation ul li a {
/*     border-bottom: solid .25px rgba(211, 211, 211, .6); */
  display: block;
  font-size: 4rem;

}

.hamburger {
  display: block;
  cursor: pointer;
}

#hero-response{
  max-width: 100%;
  max-height: 300px;
}
#map-image{
  max-width: 100%;
}

}

h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.main .card {
  color: #252a32;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.main .card-image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 70%;
  background: #ffffff;
}
.main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .main .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

/* Gallery */
/* a img {
  height: 500px;
  width: 500px;
} */

/* Footer */
.bg-footer {
  background-color: #33383c;
  color: #acacac;
  text-align: center;
  padding: 15px 0 30px;
}
