html {
  scroll-behavior: smooth;
  scroll-padding: 10rem;
  font-size: 10px;
}

body {
  font-family: sans-serif;
  background-color: white;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b30000; 
  width: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; 
}

/* Navbar */
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 8rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
}

.hamburger {
  display: none;
}

.line {
  width: 40px;
  height: 7px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
}

.navigation {
  transition: all .6s ease-in-out;
}

.navbar-text {
  padding-top: 20px;
  font-size: 27px;
  font-weight: bolder;
}

.navbar-subtext {
  color: white;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  list-style: none;
  margin-right: 3rem;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  width: 100%;
  padding: 2rem;
  display: inline-block;
  transition: all .3s ease;
}

.navigation ul li a:hover {
  background-color: #ea3431;
}

.navigation.active {
  left: 0;
}

@media only screen and (max-width: 900px) {

  header {
      padding: 0 5rem;
  }

.navigation {
  position: fixed;
  top: 8rem;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #24252a;
}

.navigation ul {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #24252a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.navigation ul li {
  width: 100%;
  text-align: center;
  background-color: #24252a;
}

.navigation ul li a {
  display: block;
  font-size: 4rem;
  margin: 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

#hero-response {
  max-width: 100%;
  max-height: 400px;
}

#map-image {
  max-width: 100%;
}

#logo-image{
  width: 100%;
  height: 200px;
}

div.child {
  display: inline-block;
  vertical-align: middle;
  padding-right: 0px;
  padding-left: 0px;
  /* margin-top: 15px; */
}

}

h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

/* Hero Section  */
#logo-image {
  max-width: 100%;
  max-height: 300px;
}

.hero-main {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  vertical-align: middle;
  padding-right: 80px;
  padding-left: 60px;
}

.rwe-text2 {
  font-size: 20px;
}

.red {
  color: red;
  font-weight: bold;
}

.button-hero {
  position: relative;
  color: white;
  background-color: red;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid red;
  border-radius: 1000px;
  padding: 10px 20px;
  margin: 40px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  transition: 0.5s all ease-in-out;
}

.button-hero1 {
  position: relative;
  color: red;
  background-color: white;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid red;
  border-radius: 1000px;
  padding: 10px 20px;
  margin: 40px;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  transition: 0.5s all ease-in-out;
}

.button:hover {
  cursor: pointer;
  background: red;
  color: white;
  -webkit-animation: none;
          animation: none;
}

.button-pulse {
  animation: pulse 2s infinite 3s cubic-bezier(0.75, 0, 0, 1);
  box-shadow: 0 0 0 0 red;
}

#hero-response {
  border-radius: 3px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
  }
}

.button-hero-float {
  animation: float 1.5s linear alternate infinite;
}

@keyframes float {
	50% {
    transform: translateY(-px);
  }
  100% {
    transform: translateY(-18px);
  }
}

.upcoming-event {
  font-size: 2.75rem;
  font-weight: bold;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* About  */
.about-container {
  display: flex;
  flex-direction: row;
  text-align: center; 
justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

/* .about-child {

} */

.about-photo{
  padding-right: 5%;
}

.Abhijit-Gupta {
  font-size: medium;
  margin-top: 3px;
}

.about-text {
  font-size: 16px;
}

@media (max-width: 800px) {
  .about-container {
    flex-direction: column;
    margin-bottom: 10%;
    text-align: center;
  }

  .about-photo{
    text-align: center;
  }
}

/* Clients */
.marquee-full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.marquee-box {
	overflow-x: hidden !important;
	display: flex !important;
	flex-direction: row !important;
	position: relative;
	width: 100%;
}

.marquee {
	flex: 0 0 auto;
	min-width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	animation: marqueescroll 100s linear 0s infinite;
	animation-play-state: running;
	animation-delay: 0s;
	animation-direction: normal;
}

.marquee figure-client
{
	margin-right: 3rem;
	margin-left: 3rem;
	padding: 5px;
	max-width: 250px;	
	text-align: center;
	vertical-align: top;
}

.marquee figcaption
{
	display:none;
	font-weight: 80%;
	color: #333;
	line-height: 1.2;
}

.marquee-img marquee
{
	height: auto;
	max-height: 3.5rem;
	max-width: 100%;
	background: #fdfdfd;
	border: none;
}


.marquee-box:hover div {
	animation-play-state: running;
}
.marquee-box:active div {
	animation-play-state: running;
}
@keyframes marqueescroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}


/* Services  */
.container {
  max-width: 1320px;
}
section {
  overflow: hidden;
}

.section-bg {
  background-color: white;
}

.section-header h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}

#services {
  padding: 60px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 6px 3px 10px -4px rgba(0,0,0,0.75);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon .service-icon {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .box:hover .title a {
  color: #c59c35;
}
#services .box:hover .title a:hover {
  text-decoration: none;
}
#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

/* New Events  */
.container-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
.container-gallery img {
  width: 100%;
  display: block;
  transition: all 100ms ease-out;
}
.container-gallery img:hover {
  transform: scale(1.04);
}

.gallery-page-icon {
  all: unset;
  position: absolute;
  right: 25px;
  text-decoration: none;
}

/* Get in Touch  */
.contain {
  background-color: #eee;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

div.form {
  background-color: #eee;
}
.contact-wrapper {
  margin: auto 0;
}

.submit-btn {
  float: left;
}
.reset-btn {
  float: right;
}

.form-headline:after {
  display: block;
  width: 10%;
  padding-top: 10px;
  border-bottom: 3px solid #ec1c24;
}

.highlight-text {
  color: #ec1c24;
}

.hightlight-contact-info {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 800;
}

.email-info {
    margin-top: 20px;
}

::-webkit-input-placeholder { /* Chrome */
  font-family: 'Roboto', sans-serif;
}

.required-input {
  color: black;
}

@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

.form-input:focus,
textarea:focus{
  outline: 1.5px solid #ec1c24;
}

.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  color: #212d31;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

form label {
  display: block;
}

form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 2em;
  font-size: small;
}

button, .submit-btn {
  background: transparent;
  border: 1px solid #ec1c24;
  color: #ec1c24;
  border-radius: 15px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-weight: 500;
}
button:hover, .submit-btn:hover,
button:focus , .submit-btn:focus{
  background: #ec1c24;
  outline: 0;
  color: #eee;
}

.error {
  color: #ec1c24;
}

/* Footer */
.bg-footer {
  background-color: #33383c;
  padding: 50px 0 30px;
  width: 100%;
}

.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}

/* Back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 55px;
  right: 10px;
  display: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
